{% extends 'base.html.twig' %}

{% block title %}Message index{% endblock %}

{% block body %}
    {% include('navbar.html.twig') %}

    <h1>Message index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Msg</th>
                <th>DateEnvoie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.id }}</td>
                <td>{{ message.msg }}</td>
                <td>{{ message.DateEnvoie ? message.DateEnvoie|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('messageadmin_show', {'id': message.id}) }}">show</a>
                    <a href="{{ path('messageadmin_index', {'id': message.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('messageadmin_new') }}">Create new</a>
{% endblock %}
