
{% extends 'base.html.twig' %}

{% block title %}Accueil {% endblock %}

{% block body %}
    {% include('navbar.html.twig') %}
    {% for article in articles %}
    <div class="col s12 m7 blue-grey darken-2 articleecole">
        <h2 class="header titrearticle ">{{article.Title}}</h2>
        <div class="card horizontal">
            <div class="card-image">
                {% if article.fileName %}
                    <img class="imagearticle" src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="Image de l'article">
                {% endif %}
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <div class="row">
                        <div class="datecontent">
                            <p>Cet article a été crée le <b>{{ article.dateAdd ? article.dateAdd|date('Y-m-d H:i:s') : '' }}</b></p>
                        </div>
                    </div>
                    <div class="articlecontent">
                        {{ article.Content | striptags | slice(0,20) | raw}} ...
                    </div>
                </div>
                <div class="card-action">
                    <a href="{{ path('article_show', {'id': article.id}) }}">Voir l'article</a>
                    {#                    <a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>#}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
