{% extends 'base.html.twig' %}

{% block title %}Child index{% endblock %}

{% block body %}
    {% include('navbar.html.twig') %}

    <h1>Les enfants</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Nom </th>
                <th>Prénom</th>
                <th>Age</th>
                <th>class</th>
                <th>DateAdd</th>
                <th>ParentRef</th>
                <th>Inscription validé ?</th>

                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for child in children %}
        <div id="article" class="card blue-grey">
            <tr>
                <td>{{ child.lastName }}</td>
                <td>{{ child.firstName }}</td>
                <td>{{ child.age }}</td>
                <td>{{ child.class }}</td>
                <td>{{ child.dateAdd ? child.dateAdd|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ child.User.lastName }}</td>
                {% if (child.validationInscription== false) %}
                    <td>En cours </td>
                {% else %}
                    <td>Oui </td>
                {% endif %}
                <td>
                    <a href="{{ path('child_edit', {'id': child.id}) }}">edit</a>
                </td>
            </tr>
        </div>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('child_new') }}">Créer un nouvel enfant</a>
{% endblock %}
