<link rel="stylesheet" href="/build/app.css">
{{ form_start(form) }}
    {{ form_row(form.msg) }}
    {{ form_row(form.receiveMsg) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}


