{% extends 'base.html.twig' %}

{% block title %}Index de l'article{% endblock %}

{% block body %}
    {% include('navbar.html.twig') %}

    <h1>Index de l'article</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Date d'ajout</th>
                <th>Fichier</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.Title }}</td>
                <td>{{ article.Content }}</td>
                <td>{{ article.dateAdd ? article.dateAdd|date('Y-m-d H:i:s') : '' }}</td>
                {% if article.fileName %}
                    <td><img src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="" style="width:500px; height:auto;"></td>
                {% endif %}
                <td>
                    <a href="{{ path('article_show', {'id': article.id}) }}">show</a>
                    <a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('article_new') }}">Créer un nouveau</a>
{% endblock %}
