{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Titre de l'article</th>
                <td>{{ article.Title }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ article.Content }}</td>
            </tr>
            <tr>
                <th>Date d'ajout</th>
                <td>{{ article.dateAdd ? article.dateAdd|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ article.fileName }}</td>
            </tr>
            <tr>
                {% if article.fileName %}
                <td><img src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="" style="width:500px; height:auto;"></td>
                {% endif %}
            </tr>
        </tbody>
    </table>

    <a href="{{ path('article_index') }}">Retour</a>

    <a href="{{ path('article_edit', {'id': article.id}) }}">Modifier</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
