{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    {% include('navbar.html.twig') %}
<div class="listeecole">
    <div class="card blue-grey contenulisteecole">
        <div class="card-content white-text">
            <h2 class="header titreuser">Utilisateur</h2>
            <table class="tableutilisateur">
                 <div class="card blue-grey">
                    <tbody>
                        <tr>
                            <th>Nom :</th>
                            <td>{{ user.lastname }}</td>
                        </tr>
                        <tr>
                            <th>Prénom :</th>
                            <td>{{ user.firstname }}</td>
                        </tr>
                        <tr>
                            <th>Email :</th>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <th>Téléphone :</th>
                            <td>{{ user.tel }}</td>
                        </tr>
                        <tr>
                            <th>Role :</th>
                            <td>{% if is_granted('ROLE_TEACHER') %}
                                    Professeur
                                {% endif %}
                                {% if is_granted('ROLE_PARENT') %}
                                    Parent
                                {% endif %}
                                {% if is_granted('ROLE_ADMIN') %}
                                    Administrateur
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                 </div>
            </table>
        </div>
    <a href="{{ path('home') }}">Retour</a>

    <a href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>
    
    {{ include('user/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
